# firecrawl can be installed with pip ["pip install firecrawl-py"]
firecrawl-py
sentence-transformers
streamlit
langchain-community
langchain-openai
pinecone-client
openai
streamlit
python-dotenv
pydantic
tqdm
requests
